#root {
  max-width: auto;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#application {
  background-color: rgb(17, 21, 27);
}
.osrs-logo {
  height: 275px;
  width: auto;
  padding: 1%;
  will-change: filter;
  transition: filter 300ms;
}
.osrs-logo:hover {
  transform: scale(1.05);
  background: radial-gradient(closest-side,yellow ,rgb(17, 21, 27 ));
  cursor: pointer;
  
}

.message1{
  color: Green;
   
}
.message2{
  color: red;
  
}

h1 {
  font-family: "Runescape UF";
  font-weight: normal;
  color: yellow;
}

.NavBar {
  padding-top: 100px;
  padding-bottom: 200px;
  background-size: 200px;
  font-family: "Runescape UF";
  display: grid;
  letter-spacing: 1px;
  background-image: url(./assets/frame_5_delay-1.5s.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.NavBarChild {
  font-size: 30px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  color:black
}
.NavBarChild:hover{
  transform: scale(1.3);
  color: yellow;
  text-decoration:underline;
  
  
}
#display {
  border: 2px red solid;
  padding: 2%;
  justify-content: space-between;
  margin-bottom: 5%;
}
.item_image {
  border: 2px white solid;
  height: 200px;
  width: auto;
}
.card {
  font-family: "Runescape UF";
  color: yellow;
}
p{color: yellow;}
footer {
  background-color: black;
  color: red;
  padding: 1%;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: 'RuneScape UF';
  src: url('./assets/runescape_font_kit/RuneScape-UF.eot') format('embedded-opentype'),
      url('./assets/runescape_font_kit/RuneScape-UF.woff2') format('woff2'),
      url('./assets/runescape_font_kit/RuneScape-UF.woff') format('woff'),
      url('./assets/runescape_font_kit/RuneScape-UF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
